extends ../shared/template
block title
  h1 Alien List
block content
  ul
    each val in aliens
      li
        .media
          .media-left.media-middle
            a(href='/aliens/' + val.id)
              img.media-object(src=val.photo, alt='\#{val.name}', height="64", width="64")
          .media-body
            h4.media-heading #{val.name}
            |           The alien #{val.name} hails from the planet #{val.planet}
